.TodoListItem-btn {
   padding: 0px !important; 
   width: 35%;
   height: 2.3em;
   margin: 0;
   border-width: 1px !important;
   box-shadow: 0;
}

.TodoListItem-container {
    display: grid;
    grid-template-columns: 1fr 100px;
    grid-template-rows: 1fr;
    height: 2.5em;
    padding-left: 24px
}

.TodoListItem-container__span {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto 0px;
    font-weight: bold;
}

.TodoListItem-container__btns {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}