@media (min-width: 900px) {
    .AppHeader__container--border {
        border-radius: 5px 5px 0 0;
    }
}

.AppHeader__container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #E94D3E;
    color: white;
}

.AppHeader__container span {
    margin: auto 0;
    font-weight: bold;
}

.AppHeader__container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}